<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <input type="text"  v-model="title" @keydown.enter="addtodo">
        <ul>
            <li v-for="todo in todos">
                <input type="checkbox" v-model="todo.done">
                <!-- 在Vue中使用 : 开头的的属性是用来传递数据的 这里的写法的意思
                就是根据 todo.done 来决定是否有done这个class -->
                <span :class="{done:todo.done}">{{todo.title}}</span> 
            </li>
        </ul>
        全选<input type="checkbox" v-model="allDone">
        <div>
            <button v-if="active<all" @click="clear">清理</button>
        </div>
        <p>{{active}}/{{all}}</p>
    </div>
    
</body>
</html>
<script src="https://unpkg.com/vue@next"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs
/jquery/1.7.0/jquery.min.js"></script>
<script>


    const App = {
        data() {
            return {
                title: "",
                todos: [
                    {
                     title:"",
                     done: false
                    },
                    {
                        title:"睡觉",
                        done: false
                    }
                ]
            } 
        },
        methods:{
            addtodo(){
                this.todos.push({
                    title:this.title,
                    done: false
                })
                this.title=''
            },
            clear() {
                this.todos = this.todos.filter(v=>!v.done)
            }
        },

        computed:{
        active(){
            return this.todos.filter(v=>v.done).length
        },
        all(){
            return this.todos.length
        },
        // 这个对象直接绑定全选框的 v-model
        allDone: {
            get:()=>{
                return this.active === 0
            },
            set: function (val) {
                this.todos.forEach(todo => {
                    todo.done = val
                });
            }
        }
    }
    }

    //启动应用
    Vue.createApp(App).mount("#app")
</script>
<style>
    .done{
        color: gray;
        text-decoration: line-through;
    }

    #app{
        position: absolute;
        left: 100;
        right: 100;

        

    }
</style>